# backup files
*.bak
*~

# object files
*.o
*.d
*.elf

# build directory (from pulp's makefile)
build/

# GUI LVGL Library
libraries/gui/libs/

# GUI Build Directory
libraries/gui/build
libraries/gui/tests/build
libraries/gui/src/ui/.eez-project-build

libraries/sensors/afe4400/build/
libraries/sensors/afe4400/test_soft

libraries/sensors/DS1307/build/
libraries/sensors/DS1307/test_host
libraries/sensors/DS1307/build.sh

libraries/sensors/l3g4200d/test/build/
libraries/sensors/l3g4200d/test/unit_test_l3g4200d
libraries/sensors/mpu6050/test/build/
libraries/sensors/mpu6050/test/unit_test_mpu6050

libraries/sensor/max30102/test_soft
libraries/sensor/max30102/setup_env.sh
libraries/sensor/max30102/build/

libraries/sensors/OLED/GUI/test/test_gui_input

# NTP Sync (PULPissimo)
libraries/app/ntp_sync/build/
libraries/app/ntp_sync/test_ntp
# NTP Sync (STM32 PlatformIO)
libraries/app/ntp_sync/test_stm32/.pio/
libraries/app/ntp_sync/test_stm32/.vscode/
